<!-- API URL of a sepolia rpc provider -->
API_URL = ""

<!-- Private key of a wallet containing sepolia ether -->
PRIVATE_KEY = ""

<!-- Address of the deployed contract -->
CONTRACT_ADDRESS = ""

<!-- API key of a beacon chain explorer API -->
BEACON_API_KEY = ""